.recipe__img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
  border: solid 3px white;
}

.recipe__name {
  max-width: 200px;
  text-align: center;
  margin: 15px 0px;
}

.RecipeBox {
  border: solid 3px rgb(255, 89, 0);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 3px 5px grey;
}
